In [1]:
import pandas as pd 
import numpy as np
#读取文件并且进行数据探索
data1=pd.read_csv('C:/Users/Q/Desktop/py/project/data1.csv',encoding = "GBK")
data2=pd.read_csv('C:/Users/Q/Desktop/py/project/data2.csv',encoding = "GBK")
data2.head()
data2.describe()#对data2数据进行总体描述

,Index,CardNo,PeoNo,Money,FundMoney,Surplus,CardCount,conOperNo
count,5.193670e+05,519367.000000,5.193670e+05,519367.000000,519367.000000,519367.000000,519367.000000,251.000000
mean,1.171933e+08,176634.322951,1.664297e+07,4.087279,3.949758,78.495517,1016.565421,154.653386
std,1.542171e+05,12891.317072,7.273705e+06,8.900284,34.329017,121.537938,812.625096,65.489811
min,1.169250e+08,9.000000,9.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.170620e+08,172330.000000,2.016565e+07,1.200000,0.000000,34.100000,504.000000,100.000000
50%,1.171920e+08,180766.000000,2.017561e+07,3.000000,0.000000,64.500000,749.000000,143.000000
75%,1.173219e+08,183002.000000,2.018301e+07,6.000000,0.000000,99.390000,1422.000000,201.000000
max,1.182120e+08,186208.000000,1.000000e+08,900.000000,9800.000000,9903.610000,14575.000000,237.000000

In [2]:
data1.head()
data1.describe()#对data1数据进行总体描述

             Index         CardNo  AccessCardNo
count  4341.000000    4341.000000  4.341000e+03
mean   2171.000000  182161.785533  1.679700e+07
std    1253.283089    1309.570383  6.891622e+06
min       1.000000  164340.000000  3.077800e+04
25%    1086.000000  181084.000000  1.730412e+07
50%    2171.000000  182169.000000  1.944847e+07
75%    3256.000000  183254.000000  2.074742e+07
max    4341.000000  184339.000000  2.545070e+07

In [3]:
#查看是否有空值
print(data1.isnull().sum())
print(data2.isnull().sum())
data2=data2.drop(['TermSerNo','conOperNo'], axis=1)#去掉data2中没用的空值

Index           0
CardNo          0
Sex             0
Major           0
AccessCardNo    0
dtype: int64
Index             0
CardNo            0
PeoNo             0
Date              0
Money             0
FundMoney         0
Surplus           0
CardCount         0
Type              0
TermSerNo    512106
conOperNo    519116
Dept              0
dtype: int64

In [4]:
#对data1查询重复数据并清理
dupe=data1.duplicated('AccessCardNo')
dupe=dupe[dupe]
dupe.index
data1=data1.drop(dupe.index)#（对data1消除重复数据）
data1.to_csv('C:/Users/Q/Desktop/code/task1_1.csv',encoding='utf_8_sig',index=0)
print(dupe.sum())
dupe=data1.duplicated('CardNo')
print(dupe.sum())
dupe=data2.duplicated('Index')
print(dupe.sum())

2
0
0

In [5]:
data2["Money"].describe()

count    519367.000000
mean          4.087279
std           8.900284
min           0.000000
25%           1.200000
50%           3.000000
75%           6.000000
max         900.000000
Name: Money, dtype: float64

In [6]:
#money箱型图
from matplotlib import pyplot as plt
plt.subplot(1,2,1)
plt.boxplot(data2["Money"])
plt.subplot(1,2,2)
plt.boxplot(data2["Surplus"])
plt.savefig('money.jpg')
plt.show()

In [7]:
#对时间进行异常值分析，发现数据天在区间30日之内，小时在24小时以内
data2['day']=pd.DatetimeIndex(data2['Date']).day
data2['day'].describe()
data2['hour']=pd.DatetimeIndex(data2['Date']).hour
data2['hour'].describe()

count    519367.000000
mean         12.662235
std           4.434355
min           0.000000
25%          10.000000
50%          12.000000
75%          17.000000
max          23.000000
Name: hour, dtype: float64

In [8]:
#时间上选取早上5点至晚上22点间算正常值（对data2）
#money异常值消除（对data2）
a = data2["Money"].quantile(0.75)
b = data2["Money"].quantile(0.25)
demoney = data2["Money"]
de=data2[(demoney>=(a-b)*1.5+a)|(demoney<=b-(a-b)*1.5)].index
print(de)
c = data2["hour"]
print(c.count())
d=c[(c<=5)|(c>=22)].index
print(d)
# data2=data2.drop(de)
suoyin=[]
for i in range(len(d)):
    suoyin.append(d[i])
for i in range(len(de)):
    suoyin.append(de[i])
suoyin=set(suoyin)
data2=data2.drop(suoyin)
data2.count()

Int64Index([    85,     86,    269,    306,    386,    527,    528,    535,
               555,    556,
            ...
            517256, 517311, 517534, 517828, 518004, 518169, 518506, 518922,
            519123, 519281],
           dtype='int64', length=5217)
519367
Int64Index([     4,    269,    299,    306,    308,    310,    325,    326,
               364,    410,
            ...
            518941, 518951, 518981, 519015, 519020, 519023, 519105, 519135,
            519192, 519221],
           dtype='int64', length=14803)

Index        499702
CardNo       499702
PeoNo        499702
Date         499702
Money        499702
FundMoney    499702
Surplus      499702
CardCount    499702
Type         499702
Dept         499702
day          499702
hour         499702
dtype: int64

In [9]:
data2.to_csv('C:/Users/Q/Desktop/code/task1_2.csv',encoding='utf_8_sig',index=0)

In [10]:
data3=data2.merge(data1,how='inner',on='CardNo')#合并数据表
data3.to_csv('C:/Users/Q/Desktop/code/task1_1_1.csv',encoding='utf_8_sig',index=0)